body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    text-align: center;
    background-color: whitesmoke;
    color: #484848;
    width: 800px;
    height: 480px;
    cursor: none;
}

a {
    text-decoration: none;
    color: #484848
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

main{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    background: none;
}

.product{
    position: relative;
    width: 272px;
    height: 182px;
    background-image: url("img/tile.png");
    display: inline-block;
}

.money_button{
    position: relative;
    width: 200px;
    height: 65px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px lightgray; 
    margin: 15px;
    display: inline-block;
    font-size: 40px;
    padding-top: 20px;
}

.product > img {
    margin-top: 20px;
    left: 40px;
    height: 100px;
}

.product > h1{
    width: 100%;
    margin:0;
}

.product > button {
    background: transparent;
    width: 250px;
    height: 160px;
    border: 0px;
    position: absolute;
    top: 11px;
    left: 11px;
    border-radius: 10px;
}

.line{
    flex: 0 0 auto;
}

.money_button_line{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-left: -50px;
    float:left;
}

.page {
    width: 100%;
    height: 100%;
    display: none;
}

#back{
    border-bottom: 1px solid lightgray;
}

#back > img{
    width: 80px;
    margin: 10px;
}

#balance > h2{
    font-size: 20px;
}

#balance > span{
    font-size: 25px;
}

#top {
    position: relative;
    height: 40px;
}

#bottom {
    position: fixed;
    bottom: 0px;
    height: 49px;
    width:100%;
}

#button_logout {
    position: absolute;
    left:0px;
    top: 0px;
    bottom: 0px;
    width: 257px;
    height: 49px;
    background-image: url(img/logout_button.png);
    color: white;
    text-align: center;
    font-size: 20px;     
}

#button_buy {
    position: absolute;
    right: 0px;
    top:0px;
    bottom: 0px;
    width: 258px;
    height: 49px;
    background-image: url(img/buy_button.png);
    color: white;
    text-align: center;
    font-size: 20px;
}

#notch {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 200px;
    right: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/notch.png);
    color: #484848;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

#balance {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

#button_deposit {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.counter {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #009688;
    border-radius: 50%;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    filter: drop-shadow(0px 0px 5px lightgray)
}

::-webkit-scrollbar {
    display:none;
}

#money_page_center {
    width: 300px;
    float: left;
    margin-left:20px;
}

#add_money_page {
    display:flex;
}

#numpad {
    display:inline;
    float:right;
    margin-right: 15px;
    margin-top: 20px;
}

#numpad > tbody {
    box-shadow: 0px 0px 15px lightgray; 
}

.npb {
    width: 80px;
    height: 65px;
    background-color: white;
    font-size:35px;
}

#dagobert {
    margin-top:60px;
}

#ok_button {
    color: white;
    background-color:#009688;
}

#cancel_button {
    color: white;
    background-color:#ff5722;
}

#money_display {
    width: 250px;
    height: 50px;
    float: right;
    background-color: white;
    font-size: 30px;
    filter: drop-shadow(0px 0px 5px lightgray);
    border-radius: 10px;
    margin-right: 16px;
    margin-top: 100px;
    padding-top: 12px;
}

#loading_screen {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: #00000055
}

#loading_window {
    position:fixed;
    top:50%;
    left:50%;
    width: 200px;
    height: 100px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
}

#loading_circle {
    position: absolute;
    margin-left: -80px;
    margin-top: 20px;
}

#loading_text {
    position: absolute;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 35px;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: transparent radial-gradient(circle, transparent 1%, transparent 1%) center/15000%;
}

.ripple:active {
    background-color: #bbbbbb77;
    background-size: 100%;
    transition: background 0s;
}